/* ----------- Font Sans -------------*/

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ------------- Banner -------------*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    background-color: rgb(206, 236, 206);
    border-radius: 18px;
}
.banner-img > img {
    height: 350px;
    width: 400px;
    padding: 40px 200px 40px 5px;
}
.banner-title {
    padding: 40px 10px 40px 220px;
}
.title {
    font-weight: 700;
    font-size: 46px;
    color: #0E0E0E;
}
.banner-text {
    color: #939292;
    font-weight: 500;
    font-size: 18px;
}
.dark-green-btn {
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s; 
}

/* Hover effect */
.dark-green-btn:hover {
    background-color: #004C3A; 
    transform: scale(1.1); 
}



/****************** Vision ****************/
.vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
.section-title{
    margin: 20px 0px 0px 50px;
}
.section-title h2 {
    font-weight: 700;
    font-size: 38px;
    padding-bottom: 15px;
}
.section-title > p{
    font-weight: 400;
    font-size: 16px;
    color: #595757;
}
.cards {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px;

}
.card-title{
    padding:0px 20px 10px 20px;
}
.card-title > h4  {
    font-weight: 700;
    font-size: 20px;
}
.card-title > p {
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 50px;
    color: #5b5a5a;
}
.card-img >img {
    height: 0px 40px 20px 0px ;
    padding: 20px 40px 0px 40px;
}
.card{
    background-color: white;
    border-radius: 18px;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05); 
    border-color: #333; 
}
#first-card{
    background-color:skyblue;
}

#second-card {
    background-color: rgb(153, 238, 153);

}
#third-card{
    background-color: rgb(228, 228, 143);
}

.blue-btn{
    background-color: blue;
    border: none;
    border-radius: 8px;
    padding: 8px 14px 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.green-btn{
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 8px 14px 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.yellow-btn{
    background-color: rgb(156, 156, 7);
    border: none;
    border-radius: 8px;
    padding: 8px 14px 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.blue-btn, .green-btn, .yellow-btn {
    border-radius: 8px;
    padding: 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s; 
}


.blue-btn:hover {
    background-color: darkblue;
    transform: scale(1.1); 
}

.green-btn:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

.yellow-btn:hover {
    background-color: #a0a000;
    transform: scale(1.1);
}

/******** Quote *******/
.quote-section{
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 50px;
    padding: 30px;
}
.quote-section > h3 {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
}
.quote {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0px 40px 30px 40px;
    
}

/******** Recent-News *********/

.recent-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 50px;
}
.sat-card-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;   
    background-color: rgb(246, 246, 234);;
    border-radius: 20px;
    margin: 20px 40px 40px 40px;
    padding: 30px 40px 20px 40px;
}
.satellite-img > img {
    height: 280px;
    width: 350px;
    border-radius: 30px;
   
}
.satellite-info > h3 {
    font-weight: 600;
    font-size: 26px;
}
.satellite-info > img{
    height: 20px;
}
.satellite-info > time  {
    font-size: 12px;
    font-weight: 400;
}
.sat-card-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;   
    background-color: rgb(246, 246, 234);
    border-radius: 20px;
    margin: 20px 40px 40px 40px;
    padding: 30px 40px 20px 40px;
}

.sat-card-1, .sat-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;   
    background-color: beige;
    border-radius: 20px;
    margin: 20px 40px 40px 40px;
    padding: 30px 40px 20px 40px;
    transition: 0.3s;
}

.sat-card-1:hover, .sat-card-2:hover {
    background-color: whitesmoke;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/*********** Donate Today ***********/
.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    margin: 10px 60px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.donation:hover {
    background-color: gainsboro; 
}

.donation-title{
    text-align: center;
}
.donation-text{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40PX;
}
.box > h2{
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
}

.blue-card {
    background-color: rgb(193, 228, 241);
}
.other-amount >input{
    width: 800px;
    height: 55px;
    margin: 25px;
    border-radius: 10px;
    border: white;
    font-size: 16px;
    text-align: center;
}
.box > h2 {
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    transition: 0.3s;
}


.box > h2:hover {
    background-color: rgb(84, 137, 158);
    transform: scale(1.1);
    cursor: grab; 
}



/***************** subscription area **************/

.Subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 235, 202);
    border-radius: 10px;
    padding: 90px;
    margin: 80px 60px;
}
.subscribe-title{
    text-align: center;
    margin: 10px;
}
.subscribe-text{
    text-align: center;
    padding: 20px 100px;
}
.subscription-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.input-area > input {
    width: 500px;
    height: 40px;
    border-radius: 6px;
    border: white;
    font-size: 16px;
    padding: 0px 20px;
}

.subscribe-btn > button {
    border-radius: 6px;
    height: 40px;
}

/******** Footer section *******/
footer{
    margin: 10px;
}
.footer-section {
    text-align: center;
    margin-top: 90px;
     
}
.social-icons {
    padding: 20px;
    margin: 30px;
}
.facebook {
    padding: 20px;
}
.instagram {
    padding: 20px;
}
.x {
    padding: 20px;
}
